---
import Layout from './Layout.astro'
import Blog from '@/components/Blog.astro'
import Subscribe from '@/components/Subscribe.astro'
import { articles } from '../data/articles'
import { blogSchema, detailsI } from '../schemas/blog-schema'
import { Schema } from 'astro-seo-schema'
// import { JsonLd } from 'astro-seo-schema/dist/jsonld'
const { frontmatter } = Astro.props
---

<Schema item={blogSchema(frontmatter)} />
<meta
    slot="head"
    http-equiv="Content-Type"
    content="text/html; charset=utf-8"
/>

<Layout
    title={articles[frontmatter.article]?.title}
    description={articles[frontmatter.article]?.description}
    image={frontmatter.image}
>
    <main>
        <Blog
            article={articles[frontmatter.article]}
            frontmatter={frontmatter}
        />
        <div class="blog">
            <slot />
        </div>
        <Subscribe />
    </main>
</Layout>
