---
import Layout from '../layouts/Layout.astro'
import { inputStyle } from '../components/form/Input.astro'
---

<Layout
    title="Thetis Medical - Contact Us"
    description="Place bulk orders and ask questions to Thetis Medical with their contact form."
    image="https://thetismedical.com/images/icons/socials/achilles-drawing-image.png"
    bodyClass="black-split"
    hideFooter={true}
    logoColor="white"
>
    <main data-barba="container" data-barba-namespace="home">
        <div class="contact-wrap">
            <div class="mr-12 w-[35vw] text-white">
                <h1 class="mt-12 text-5xl text-white">Get in Touch</h1>
                <ul class="mx-8 mt-4 mb-24 ml-8">
                    <li class="text-lg">Order splints</li>
                    <li class="text-lg">Get some samples</li>
                    <li class="text-lg">Restock your leaflets</li>
                    <li class="text-lg">Ask a question</li>
                    <li class="text-lg">Just say hi!</li>
                </ul>
                <h4>
                    <a href="mailto:info@thetismedical.com" class="text-white text-xl"
                        >info@thetismedical.com</a
                    >
                </h4>
                <div class="contact socials">
                    <a class="fill-white" href="https://twitter.com/ThetisMedical"
                        ><img
                            src="/images/icons/socials/social-media-twitter.svg"
                            alt="Twitter Icon"
                        /></a
                    >
                    <a
                        class="fill-white"
                        href="https://www.instagram.com/thetismedical/"
                        ><img
                            src="/images/icons/socials/social-media-insta.svg"
                            alt="Instagram Icon"
                        /></a
                    >
                    <a
                        class="fill-white"
                        href="https://www.facebook.com/thetismedical"
                        ><img
                            src="/images/icons/socials/social-media-facebook.svg"
                            alt="Facebook Icon"
                        /></a
                    >
                </div>
                <p>&copy;Thetis Medical Ltd 2023</p>
            </div>
            <form
                autocomplete="on"
                action="https://formspree.io/f/mdobaqwr"
                method="POST"
                class="pt-10 form"
            >
                <div class="form-wrap dark:text-black">
                    <h2 class="pt-4 text-3xl dark:text-black">Contact Us</h2>
                    <p>Would you like to:</p>
                    <div class="form-row">
                        <div class="checkbox">
                            <div class="checkbox-edge">
                                <input
                                    name="contact-reason"
                                    value="bulk-order"
                                    checked
                                    id="order-check"
                                    type="radio"
                                    class='rounded-full [&:checked]:accent-white'
                                />
                            </div>
                            <label for="order-check">Bulk Order / Restock</label>
                        </div>
                        <div class="checkbox">
                            <div class="checkbox-edge">
                                <input
                                    name="contact-reason"
                                    value="ask-question"
                                    id="ask-a-question"
                                    type="radio"
                                    class={`${inputStyle} [&:checked]:accent-white`}
                                />
                            </div>
                            <label for="ask-a-question">Ask a question</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input
                                required
                                id="name"
                                name="name"
                                type="text"
                                placeholder="Name"
                                class={inputStyle}
                            />
                        </div>
                        <div class="form-group">
                            <label for="company" class="sr-only">Company</label>
                            <input
                                id="company"
                                name="company"
                                type="text"
                                placeholder="Company"
                                class={inputStyle}
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input
                                required
                                id="email"
                                name="email"
                                type="email"
                                placeholder="Email"
                                class={inputStyle}
                            />
                        </div>
                        <div class="form-group">
                            <label for="phone" class="sr-only">Phone</label>
                            <input
                                id="phone"
                                name="phone"
                                type="tel"
                                placeholder="Phone"
                                class={inputStyle}
                            />
                        </div>
                    </div>
                    <div class="order-wrap">
                        <p>Enter quantities to get a quote by email:</p>
                        <div class="form-row">
                            <div class="flex form-group">
                                <p>Night Splint</p>
                                <input
                                    name="night-splint-qty"
                                    id="night-qty"
                                    type="text"
                                    placeholder="Qty"
                                    class={inputStyle}
                                />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="flex form-group">
                                <p>Trauma Splint</p>
                                <input
                                    name="trauma-splint-qty"
                                    id="trauma-qty"
                                    type="text"
                                    placeholder="Qty"
                                    class={inputStyle}
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group message">
                        <label for="message" class="sr-only">Message</label>
                        <textarea
                            id="message"
                            name="message"
                            cols="50"
                            rows="3"
                            maxlength="1000"
                            class={inputStyle}
                            placeholder="Message"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="checkbox news">
                            <div class="checkbox-edge">
                                <input
                                    class={inputStyle}
                                    id="opt-out"
                                    name="opt-out"
                                    type="checkbox"
                                />
                            </div>
                            <label for="opt-out">Opt out of all newsletters.</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <button
                            type="submit"
                            value="send"
                            class="bg-primary contact-form-submit explore"
                            >Send</button
                        >
                    </div>
                </div>
            </form>
        </div>
    </main>
</Layout>
