---
import Social from "@/components/icons/socials/Social";
import Slide from "@/components/Slide.astro";
import FooterEmailCTA from "@/components/CTA/FooterEmailCTA.astro";
import FooterBlock from "./FooterBlock.astro";
import { ThemeToggle } from "../../components/theme/ThemeToggle";
import {
  productLinks,
  partnerLinks,
  contactLinks,
  faqLinks,
  legalLinks,
} from "../../content/pages";

const footerLinks = {
  company: {
    title: "Contact",
    links: contactLinks,
  },
  products: {
    title: "Products",
    links: productLinks,
  },
  patientGuides: {
    title: "Patient Guides",
    links: faqLinks,
  },
  professionals: {
    title: "Professionals",
    links: partnerLinks,
  },
  legal: {
    title: "Legal",
    links: legalLinks,
  },
};

const socials = [
  { mode: "mail", color: "white" },
  { mode: "linkedin", color: "white" },
  { mode: "instagram", color: "white" },
  { mode: "facebook", color: "white" },
];
---

<Slide background="black" className="print:hidden mt-24">
  <footer class="w-full text-white">
    <div
      class="gap-8 lg:gap-12 grid grid-cols-1 lg:grid-cols-3 lg:text-left text-center"
    >
      <!-- Company & Products -->
      <div class="space-y-8">
        <FooterBlock
          title={footerLinks.company.title}
          links={footerLinks.company.links}
        />
        <FooterBlock
          title={footerLinks.products.title}
          links={footerLinks.products.links}
        />
      </div>

      <!-- Patient Guides -->
      <div>
        <FooterBlock
          title={footerLinks.patientGuides.title}
          links={footerLinks.patientGuides.links}
        />
      </div>

      <!-- Partners & Contact -->
      <div class="space-y-8">
        <FooterBlock
          title={footerLinks.professionals.title}
          links={footerLinks.professionals.links}
        />

        <div class="space-y-4">
          <h3 class="font-semibold text-lg">Stay in Touch</h3>
          <FooterEmailCTA />

          <div class="flex flex-col items-center lg:items-start gap-y-4">
            <div class="flex justify-center lg:justify-start gap-4">
              {
                socials.map((social) => (
                  <Social color="white" mode={social.mode} />
                ))
              }
            </div>
            <a
              href="mailto:info@thetismedical.com"
              class="font-semibold text-white hover:text-gray-300 text-base transition-colors"
            >
              info@thetismedical.com
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex md:flex-row flex-col justify-center md:justify-between items-center mt-8 pt-6 border-gray-800 border-t"
    >
      <p class="text-gray-300 text-base">&copy; Thetis Medical Ltd 2020-2025</p>
    </div>

    <div class="sr-only">
      <ThemeToggle />
    </div>
  </footer>
</Slide>
