---
import Layout from './Layout.astro'
import Blog from '@/components/Blog.astro'
import Subscribe from '@/components/Subscribe.astro'
import { blogSchema } from '../schemas/blog-schema'
import { Schema } from 'astro-seo-schema'
const { details } = Astro.props
---

<Schema item={blogSchema(details)} />
<meta
    slot="head"
    http-equiv="Content-Type"
    content="text/html; charset=utf-8"
/>

<Layout
    title={details?.title}
    description={details?.description}
    image={details?.image}
>
    <main>
        <Blog details={details} />
        <div class="blog">
            <slot />
        </div>
        <Subscribe />
    </main>
</Layout>
