---
import { testimonials } from "./testimonials/testimonials.ts";
import { Image } from "astro:assets";
---

    <div class="flex flex-row sm:flex-row flex-wrap justify-start gap-6 mx-auto mr-auto pb-2">
        {testimonials
            .filter((testimonial) => testimonial.is_athlete)
            .map((testimonial) => (
            <div class="relative max-w-40 md:max-w-52 group">
                <div class="flex flex-row items-center rounded-lg transform transition-all duration-300 hover:rotate-2">
                    <Image
                        class="shadow-md rounded-full w-10 h-10"
                        src={testimonial.image}
                        alt={`${testimonial.name}_photo`}
                    />
                    <div class="ml-2">
                        <h4 class="font-semibold text-gray-800 text-sm dark:text-gray-200">{testimonial.name}</h4>
                        <p class="text-gray-600 text-xs dark:text-gray-400">{testimonial.description}</p>
                    </div>
                    
                    {/* Hover Quote */}
                    <div class="group-hover:visible bottom-full absolute bg-white dark:bg-gray-800 opacity-0 group-hover:opacity-100 shadow-lg mb-2 p-3 border rounded-lg w-60 transition-all duration-300 invisible">
                        <p class="text-gray-700 text-sm dark:text-gray-300 italic">"{testimonial.short}"</p>
                        <div class="bottom-[-8px] left-[20px] absolute bg-white dark:bg-gray-800 border-r border-b w-4 h-4 transform rotate-45"></div>
                    </div>
                </div>
            </div>
        ))}
    </div>