---
import ListIcon from "@/components/ListIcon.astro";
const { title, description, items, type } = Astro.props;
const bgColor = type === 'negative' ? 'red' : 'green';
import { cn } from "@/lib/utils";
---

<div class={cn( type === 'negative' ? 'bg-red-50' : 'bg-green-50',`relative bg-gradient-to-br from-${bgColor}-50 via-${bgColor}-100 to-${bgColor}-50 shadow-lg p-8 rounded-3xl transform transition-all hover:-translate-y-1 duration-300 overflow-hidden`, 'w-full')}>
    <!-- Decorative background elements -->
    <div class={`-top-16 -right-16 absolute bg-${bgColor}-200 opacity-20 blur-2xl rounded-full w-32 h-32`}></div>
    <div class={`-bottom-8 -left-8 absolute bg-${bgColor}-300 opacity-20 blur-2xl rounded-full w-24 h-24`}></div>

    <div class="relative z-10">
        <h3 class={`mb-4 font-semibold text-3xl text-${bgColor}-900`}>{title}</h3>
        <p class={`mb-8 text-${bgColor}-800/80`}>{description}</p>

        <div class="gap-8 grid grid-cols-2">
            {items.map((item, index) => (
                <div class="space-y-4" key={index}>
                    <ListIcon type={type}>
                        {item}
                    </ListIcon>
                </div>
            ))}
        </div>
    </div>
</div>